<div class="new-room">
  <h2>Create new room</h2>
  <input #roomName type="text" placeholder="Enter room name">
  <button (click)="createRoom(roomName.value)">Create room</button>
</div>

<div class="rooms">
  <h2>Join room</h2>
  <app-rooms></app-rooms>
</div>
