:host {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 8em;

  & > div {
    flex: 0 1 450px;
    height: 80%;
    border: 3px solid #74C3C5;
    border-radius: 6px;
  }

  .new-room {
    border: none;
  }

  .rooms {
    overflow-y: auto;
    h2 {
    }

    app-rooms {
      display: flex;
    }
  }
}

