<div class="chat-wrapper" (drop)="onDrop($event)">
  <div class="chat-area">
    <div class="chat" #chatEl>
    </div>
  </div>
  <div class="chat-input">
    <textarea #inputEl type="text" placeholder="chat here" name="msg" (keydown)="keyPressedHandler($event)"></textarea>
    <input #fileInput type="file" name="fileInput" (change)="onFileInput(fileInput)">
  </div>
</div>
