.chat-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-top: 2px solid #808080;
  border-radius: 20px;

  .chat-area {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;

    .chat {
      overflow-y: auto;
      max-height: 300px;

    }
  }

  .chat-input {
    display: flex;
    flex: 0 0 40px;

    textarea {
      flex: 1;
      resize: none;
    }
  }
}
