<div class="rooms-wrapper">
  <div class="room" *ngFor="let room of roomService.rooms$ | async; trackBy:trackByFn">
    <span>{{room.roomName}}</span>
    <div>
      <span>{{room.numParticipants}}/{{room.maxParticipants}}</span>
      <button (click)="joinRoom(room.roomName)"
              [disabled]="room.numParticipants === room.maxParticipants">
        Join Room
      </button>
    </div>

  </div>
</div>
