/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

html {
  height: 100%;

  body {
    height: 100%;
    display: flex;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.local-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: #74C3C5;
  border-radius: .4em;
  margin: 6px auto;
  max-width: 350px;
  min-height: 30px;
}

.local-text:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-right-color: #74C3C5;
  border-left: 0;
  margin-top: -12px;
  margin-left: -7px;
}

.remote-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: #c0c0c0;
  border-radius: .4em;
  margin: 6px auto;
  max-width: 350px;
  min-height: 30px;
}

.remote-text:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-left-color: #c0c0c0;
  border-right: 0;
  margin-top: -12px;
  margin-right: -7px;
}

.download-link {
  display: block;
}
