.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;

  .videos-wrapper {
    display: flex;
    flex: 3;
    margin-bottom: 10px;
  }

  video {
    width: 100%;
    height: 100%;
  }

  .local-video-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    .buttons-wrapper {
      position: absolute;
      top: 25px;
      z-index: 2;
    }
  }

  & > *:not([class^="videos-wrapper"]) {
    display: flex;
    flex: auto;
  }

  .mic-canvas {
    background-color: white;
    position: absolute;
  }

}
