<div class="wrapper">
  <div class="videos-wrapper">
    <div class="local-video-wrapper">
      <canvas #micCanvas class="mic-canvas" width="384" height="20"></canvas>
      <div class="buttons-wrapper">
        <button class="mute-btn" (click)="toggleMuteAudio()">{{mediaService.isAudioMuted()? 'Unmute Audio':
          'Mute Audio'}}
        </button>
        <button class="video-pause-btn" (click)="togglePauseVideo()">{{mediaService.isVideoPaused()? 'Stream Video':
          'Pause Video'}}
        </button>
        <button (click)="leaveRoom()">Leave Room</button>
      </div>
      <video #localVideo [muted]="true"></video>
    </div>
    <video #remoteVideo></video>
  </div>
  <app-chat></app-chat>
</div>
